.svg-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
}

path {
  stroke: rgb(250, 250, 250) ;
  fill: white;
  stroke-dasharray: 1800;
  opacity: 10;
  animation: animate 5s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
  0% {
    opacity: 0;
    fill:none;
    stroke-dashoffset: 1800;
  }
  30% {
    opacity: 30;
    fill:none;
    stroke-dashoffset: 1800;
  }
  90% {
    opacity: 30;
    fill:none;
  }
  100% {
    opacity: 30;
    fill:none;
  }
}