body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: 1px;
}

.raya {
  width: 80%;
  border: 2px solid #555;
}

.texto_footer {

}

.redes_sociales {
  display: flex;
  flex-direction: row;
  background-color: #fb8804;
  border-radius: 15px;
  padding: 10px;
}

.redes_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.title-section {
    font-size: 3em;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 0;
}

.subtitle-section {
    font-size: 2em;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.descr-wrapper {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 55vh 10vh;
    grid-template-areas: 
    "video texto"
    "banner banner";}
    

.Map-wrapper {
    padding: 15px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh;
    grid-template-areas: 
    "formulario imagen";
    justify-items: center;
    align-items: center;
    margin: 1px;
}

.descr-video-wrapper {
    grid-area: video;
    width: 100%;
    height: 100%;
    display: flex;}
    
.Map-formulario {
    grid-area: formulario;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.descr-video {
    width: 80%;
    border-radius: 20px;
}

.descr-texto {
    grid-area: texto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

}

.descr-texto p {
    text-align: left;
    font-size: 1.1em;
}

.descr-banner {
    grid-area: banner;
}
.Map-info {
    grid-area: formulario;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}
.Map-imagen {
    grid-area: imagen;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
}

.Map-imagen figure img {
    width: 80%;
}
.imagenchicafit {
    width:150px;
    border-radius:20px;
    box-shadow: 1px -5px 12px 3px rgba(209,209,209,0.91);
}

.chicoquebajodepeso{
    width:150px;
    border-radius: 20px;
    box-shadow: 1px -5px 12px 3px rgba(209,209,209,0.91);
}

.Hacerdecomer{
    width:150px;
    border-radius: 20px;
    box-shadow: 1px -5px 12px 3px rgba(209,209,209,0.91);
}

.alineacion_testimonios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 300;
}

.barratestimonios{
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.opinions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Map-imagen figure {
    overflow: hidden;
}

