html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    box-sizing: border-box;
}


.raya {
  width: 80%;
  border: 2px solid #555;
}

.footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: montserrat;
    background-color: #555;
    color: #ffffff;
    font-size: 1em;
    
}

.redes_sociales {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 10px;
}

.redes_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 10px;color: #ffffff;
}

.title-section {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 6em;
    color: #50a9be;
    display: flex;
    justify-content: left; 
    align-items: left;
    margin-bottom: 0.3em;
}

.descr-texto p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 1.5em;
    color: #197ba8;
    width: 45%;
}

.subtitle-section {
    font-size: 2em;
    display: flex;
    justify-content: left; 
    align-items: center;
}

.descr-wrapper {
    display: grid;
    grid-template-columns: 0vw;
    grid-template-rows: 75vh 10vh;
    grid-template-areas: 
    "video texto"
    "banner banner";
    background-image: url("../images/fondo1.jpg");
    background-size: cover;
}
    
.Map-wrapper {
    display: flex;
    flex-direction: row;
    grid-template-areas: 
    "formulario imagen";
    justify-items: center;
    align-items: center;
    background-image: url(../images/fondo2.jpg);
    background-size: cover;
    background-position: center;
    height: 110vh;
}
    
.Map-formulario {
    grid-area: formulario;
    position: absolute;
    right: 0px;
    padding-left: 250px;
    padding-right: 50px;
    width: 80%;
    height: 65%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: left; 
}

.Map-formulario label {
    color: #197ba8;
    padding-right: 5px;
    font-size: 1.5em;
}

.Map-formulario select {
    background-color: #e59090;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 50px;
    width: auto;
}

.Map-formulario option {
    background-color: #ffffff;
    font-family: montserrat;
    color: #197ba8;
    transition: background-color .5s;
}

.titulo-mapa {
    color: #064972;
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 15px;
}

.loDeLaSemana {
    color: #064972;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.Map-info p{
    font-size: 1.2em;
    color: #197ba8;
}

.Agenda-Ahora{
    background-color: #6db3ab;
    font-size: 1.2em;
    font-family: montserrat;
    font-weight: 600;
    color: #ffffff;
    width: 35%;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-top: 15px;
}

.boton-descripcion button {
    width: 30%;
}

.descr-video {
    width: 80%;
    border-radius: 20px;
}

.descr-texto {
    grid-area: texto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: left;
    padding-left: 50px;
}

.descr-banner {
    grid-area: banner;
}


.Map-imagen {
    grid-area: imagen;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding-left: 50px;
    z-index: 1;
}

.Map-imagen p {
    color: aliceblue;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    width: 350px;
}

#root > div > div > div.svg-wrapper > img{
    height: 0px;
}

.Map-imagen figure {
    width: 350px;
    height: 350px;
    margin-bottom: 15px;
    overflow: hidden;
}

#mapa {
    border: 12px solid #6db3ab;
    border-radius: 50%;
}

.barratestimonios{
    width: 75%;
    height: 70%;
    padding: 20px;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff86;
}

.alineacion_testimonios{
    flex-direction: column;
    background-image: url(../images/fondo4.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 110vh;
}

.testimonio {
    width: 30%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #064972;
    font-size: 1.2em;
}

.testimonio img {
    height: 150px;
    border-radius: 50px;
}


.titulo-opinion {
   text-align: right;
   font-size: 5em;
   font-weight: 800;
   color: #064972;
   margin: 0px 50px 20px 0px;
}