ol, ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #e5a490;
    color: white;
    height: 70px;
}

nav {
    display: flex;
    height: inherit;
    margin-right: 50px;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    display: flex;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;

}

.logonav {
    height: 50px;
    margin-left: 50px;
}